/* Write your CSS code here */
.list-item {
  height: 70px;
  display: flex;
  align-items: center;
}
.currency-logo {
  height: 50%;
  margin-left: 50px;
  margin-right: 15px;
}
.currency-value-container {
  display: flex;
  align-items: center;
}
.currency-name {
  width: 200px;
  text-align: left;
}
.usd-value {
  width: 420px;
  text-align: right;
}
.euro-value {
  width: 210px;
  text-align: right;
}
